@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#sidebar{
}

@media (max-width: 1300px) {
  #sidebar {
    width: 25%!important;
  }
  #videocontainer{
    left: 40%!important;
  }
}

@media (max-width: 1250px){
  #videocontainer{
    top: 45%!important;
  }
}

@media (max-width: 1000px) {
  #sidebar {
    width: 30%!important;
  }
  #videocontainer{
    width: 60%!important;
    left: 35%!important;
  }
}

@media (max-width: 800px) {
  #sidebar {
    width: 100%!important;
  }
  #audiocontainer{
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important
  }

  #videocontainer{
    top: 50%!important;
    left: 50%!important;
    width: 90%!important;

  }
}
.closebutton{
  padding: 2px;
}
.closebutton:hover{
  cursor: pointer;
  background-color: #2E303B;
  border-radius: 7px;
}
.listoption{
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.listoption:hover{
  background-color: #2E303B;
}
